# https://github.com/gabibdods/NewRepositoryTemplate:
*

!.gitattributes
!.gitignore
!.gitlab-ci.yml
!README.md

!.gitlab/
!.gitlab/sast-ruleset.toml

!License/
!License/LICENSE.md
!License/NOTICE.md


# particular repository ignores:

!App.xaml
!App.xaml.cs
!AssemblyInfo.cs
!MainWindow.xaml
!MainWindow.xaml.cs
!VoxelMesh.sln
!VoxMesh.csproj
